<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><%=h @settings.site_name %> &#8250; Settings &#8250; Products</title>
<link href="http://dan.studioextranet.com/stylesheets/main.css" media="screen" rel="Stylesheet" type="text/css" />
<link href="http://dan.studioextranet.com/stylesheets/merge_this.css" media="screen" rel="Stylesheet" type="text/css" />
<link href="http://dan.studioextranet.com/stylesheets/print.css" media="print" rel="Stylesheet" type="text/css" />

<!--[if IE 6]>
<link href="http://dan.studioextranet.com/stylesheets/ie6.css" media="screen" rel="Stylesheet" type="text/css" />
<![endif]-->

<style type="text/css">.container { 
	padding:0 5%; 
	
	#content select {padding:3px;border:1px solid #bebebe;font-family:Tahoma, Verdana, sans-serif;font-size:11px;}
	
}</style>

<link rel="icon" href="/images/appicon.ico" type="image/x-icon" />
</head>

<body>
	<div class="container">
		<div id="header" >

			
			<h1 class="logo"><a href="/admin"><%=h @settings.site_name %> </a></h1>
			
			<ul class="main-nav">
				<li class=""><a href="/admin" class="dashboard">Dashboard</a></li>				
				<li class=""><a href="/admin/clients" class="clients">Clients</a></li>
				<li class=""><a href="/admin/orders" class="quotes">Orders</a></li>
				<li class=""><a href="/admin/transactions" class="invoices">Transactions</a></li>
			</ul>

			<p>
				<a href="/profile">My Profile</a> | 
				<a href="/admin/settings">Settings</a> | 
				<a href="/logout" onclick="return confirm('Are you sure you wish to logout?');">Logout</a>
			</p>
			<div class="subnav">
				<ul class="">
					<li class="start"><a href="/clients">Client List</a></li>
					<li><a href="/clients/new">Add New Client</a></li>
				</ul>
				<ul  class="">
					<li class="start"><a href="/jobs">Jobs List</a></li>

					<li><a href="/jobs/new">Add New Job</a></li>
				</ul>
				<ul class="">
					<li class="start"><a href="/quotes">Quotes List</a></li>
					<li><a href="/quotes/new">Add New Quote</a></li>
				</ul>
				<ul class="">

					<li class="start"><a href="/orders">Orders List</a></li>
					<li><a href="/orders/new">Add New Order</a></li>
				</ul>
			</div>
			<div class="clearme"></div>
		</div>

	
		<div id="content" class=" ">
			
<div class="sublinks" id="sublinks">
	<ul>
		<li><a href="/admin/settings">General Settings</a></li>
		<li><a href="/admin/settings/coupons">Coupons</a></li>
		<li><a href="/admin/settings/products" class="active">Products</a></li></ul></div>

			<div class="wrap">
				<div class="top-right">

					<div class="inside">
						
	<div class="pagetitle">
	<h2>Add New Product</h2>
</div>

					


<div class="pageinner">
<% form_for(@product, :url => { :action => :create_new_products } ) do |f| %>
  <%= f.error_messages %>




<div class="fullform">
<h4><img alt="Abs" src="/images/icons/abs.png?1236292113" /> Category Selection</h4>
<p class="grey">Please select the category you wish to create this product for. Alternativly, you can <a href="/admin/settings/categories/new">create a new category</a> from scratch.</p>
<dl>
	<dt><%= f.label :category_id %></dt>

	<dd class="withselect"><p><img alt="" src="/images/icons/building.png?1236292113" />
	 <%= f.collection_select(:category_id, Category.find(:all), :id, :title) %></p>
	</dd>

</dl>

<h4><img alt="" src="/images/icons/sitemap.png" /> Job Details</h4>
<p class="grey">Please enter any job details. Your job reference number should be numeric and unique, you can use the bulb icon to insert the next available number. You can change the status, type &amp; current assignment fields at any time from your job dashboard when the job is created.</p>
<dl>
	

	
	<dt> <%= f.label :title %></dt>
	<dd><p><%= f.text_field :title %></p></dd>
	
	<dt> <%= f.label :description %></dt>
	<dd><p><%= f.text_field :description %></p></dd>
	
	<dt> <%= f.label :members %></dt>
	<dd><p><%= f.text_field :members %></p></dd>
	
	<dt> <%= f.label :posts %></dt>
	<dd><p><%= f.text_field :posts %></p></dd>
	
	<dt> <%= f.label :threads %></dt>
	<dd><p><%= f.text_field :threads %></p></dd>
	
	<dt> <%= f.label :price, 'Price ($)' %></dt>
	<dd><p><%= f.text_field :price %></p></dd>
	
	
</dl>

</div>

	<hr class="bold clear" />
	<p class="alignright">
		<input class="submit_button" name="save" type="submit" value="Save Job" />
	</p>
<% end %>
<div style="clear:both"></div>
</div>

					</div>
				</div>
			</div>

			<div class="bottom"><div class="bottom-left"><div class="bottom-right"></div></div></div>
			
		</div>
	
	
		<div id="right">
			
		</div>
	</div>
</body>
</html>